div {
  margin: auto;
  width: 95vw;
}

.under {
  background-image: url(../images/ChocolateLoversClubVertical.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgba(255, 255, 255, 0.8) ;
  background-blend-mode: overlay;
  z-index: 0;
}



.img-hor {
  width: 100%;
}

.img-vert {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  width: 95vw
}

.img-vert:hover {
  opacity: 0;
}