@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Bad+Script:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Princess+Sofia:100,200,300,400,500,600,700");

/* background colours */

.bg-header {
  background-color: blueviolet;
  margin: 0;
}

.bg-nav {
  background-color: red;
  margin: 0;
}
.bg-left {
  background-color: greenyellow;
  margin: 0;
}

.bg-middle {
  background-color: green;
  margin: 0;
}

.bg-right {
  background-color: yellow;
  margin: 0;
}

.bg-footer, .bg-body {
  background-color: chocolate;
  margin: 0;
}

/*General*/

html,
body,
.container-fluid,
.row,
.col-xs-12 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0 20px
}

.row-table {
  margin: 0;
}

.table-cell {
  margin: 0;
}

/*Header*/
.navbar-nav {
  margin: 0;
  width: 100%;
}

.navbar-nav li {
  margin: 0;
  padding: 0;
}
/*Left*/
.left {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Middle*/
.middle {
  min-height: 65vh;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Right*/
.right {
  display: none;
}

/*Footer*/
.footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Responsiveness*/
@media screen and (min-width: 992px) {
  .table-cell {
    height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .navbar-nav li {
    width: 20%;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .right {
    display: table-cell;
  }
}
