@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Bad+Script:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Princess+Sofia:100,200,300,400,500,600,700|Short+Stack:100,200,300,400,500,600,700");

/* background colours */

.bg-header {
  background-image: url(../images/LosChristianosReading.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  opacity: 0.7;
  height: 33vh;
}

.bg-nav {
  background-color: #4c7595;
  margin: 0;
}
.bg-left {
  background-color: #a8c4e7;
  margin: 0;
}

.bg-middle {
  background-color: #edeae7;
  margin: 0;
}

.bg-right {
  background-color: #a8c4e7;
  margin: 0;
}

.bg-footer, {
  background-color: #4c7595;
  margin: 0;
  z-index: 10;
  position: absolute;
}

.bg-body {
  background-color: #4c7595;
}

/*General*/

html,
body,
.container-fluid,
.row,
.col-xs-12 {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Short Stack", cursive;
}

h1,h2,h3,h4,h5{
  font-family: "Bad Script"; 
  padding: 5px;
}
.quote {
  font-style: italic;
  padding: 10px;
  box-sizing: border-box;
}
.row-table {
  margin: 0;
}

.table-cell {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  text-decoration: none;
}
/*Header*/
.page-header {
  color: #fff;
  font-family: "Princess Sofia", cursive;
}

.page-header h1,
.page-header h3 {
  padding: 0 10px;
  font-family: "Princess Sofia", cursive;
}

.navbar {
  margin: 0;
}
.navbar-nav {
  margin: 0;
  width: 100%;
}
.navbar-nav li .youarehere {
  background-color: #c1c1c1;
  color: #4c7595;
}

.navbar-nav li a {
  margin: 0;
  color: #c1c1c1;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

.navbar-nav li a:hover {
  background-color: #5f8cb5;
  color: #c1c1c1;
}

/*Left*/
.left {
  padding-top: 5px;
  padding-bottom: 5px;
}
.left p {
  text-align: justify;
}

/*Middle*/
.middle {
  padding-top: 5px;
  padding-bottom: 5px;
}
.middle p {
  text-align: justify;
}
.middle .row .col-md-6{
  
  border-color: #4c7595;
  border-width: 3px;
  border-style: double;
}

.middle .row .col-md-6 h3, .middle .row .col-md-6 h4, .middle .row .col-md-6 h5, .middle .row .col-md-6 p{
  padding: 15px;
}

/*Right*/
.right {
  display: none;
}
.right p {
  text-align: justify;
}
.form-control {
  box-sizing: content-box;
  padding: 0;
}

.suggestions-form {
  width: 100%;
}

/*Footer*/
.footer-left,
.footer-right {
  margin: 0;
  bottom: 0;
  padding: 0;
  padding-top: 10px;
  box-sizing: border-box;
  
}

.footer-left p {
  text-align: left;
  color: #c1c1c1;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

.footer-left i {
  color: #c1c1c1;
  font-size: larger;
}

.footer-right p {
  text-align: right;
  color: #c1c1c1;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}
/*Images*/
img {
  width: 100%;
}
.cover-img {
    display: none;
}

.choclov {
  background-image: url(../images/ChocolateLoversClubVertical.jpg);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: local;
  z-index: 0;
  padding: 0;
}

.hp {
  background-image: url(../images/HPvertical.jpg);
  background-size: 100% 74vh;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: local;
  z-index: 0;
  padding: 0;
}

.w2w  {
  background-image: url(../images/WomanToWomanFront.jpg);
  background-size: 100% 74vh;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: local;
  z-index: 0;
  padding: 0;
}
.littleshop{
  background-image: url(../images/LittleShopFront.jpg);
  background-size: 100% 74vh;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: local;
  z-index: 0;
  padding: 0;
}
.dragon{
  background-image: url(../images/DragonsTale.jpg);
  background-size: 100% 74vh;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: local;
  z-index: 0;
  padding: 0;
}
.elf-tree {
  background-image: url(../images/ElfTree-cover.jpg);
  background-size: 100% 74vh;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: local;
  z-index: 0;
  padding: 0;
}

.content {
  background-position: top;
  background-color: rgba(255, 255, 255, 0.8);
    display: block;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    margin: 0;
    padding:0; 
  }
  
  .content:hover {
    opacity: 1;
  }
/*Responsiveness*/
@media screen and (min-width: 992px) {
  .table-cell {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 15px;
  }
  .middle .col-md-6 {
    height:75vh;
  }
  .content {
    height: 70vh;
    margin:0;
  }
  .left,
  .middle {
    padding-bottom: 15px;
  }
  .footer {
    margin: 0;
    bottom: 0;
    height: 10vh;
  }
  .navbar-nav li {
    width: 20%;
    text-align: center;
  }
  .page-header {
    height: 40vh;
  }
  .navbar {
    margin: 0;
    height: 5vh;
  }
  .page-header h1 {
    font-size: 100px;
  }

  .page-header h3 {
    font-size: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .right {
    display: table-cell;
    padding: 15px;
    box-sizing: border-box;
  }
}